{% extends 'base.html' %}
{%  load static %}

{%  block extra_css %}
    <link rel="stylesheet" href="{% static 'style/forms.css' %}">
{% endblock %}

{% block content %}
    <div class="form-container">
    <h2 class="form-title">Sign Up Form</h2>
        <form action="{% url 'profile-create' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
         <h6 class="form-help-text"><a href="{% url 'login' %}">Already have an account!</a></h6>
        <input  class="form-button" type="submit" value="Sign Up">
    </form>
    </div>

{% endblock %}