{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style/forms.css' %}">
{% endblock %}

{% block content %}
    <div class="form-container">
        <h2 class="form-title">Author Delete Form</h2>
        <form action="{% url 'author-delete' pk=author.pk%}" method="post">
            {{ form.as_p}}
            {% csrf_token %}
            <button class='form-button' type="submit">Delete</button>
        </form>
    </div>
{% endblock %}