{% extends 'base.html'%}
{% load static %}
{% load custom_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style/box.css' %}">
    <link rel="stylesheet" href="{% static 'style/searchbar-and-create-button.css' %}">
{% endblock %}

{% block content %}
    <main>
        {% include 'components/searchbar-and-create-button.html' %}
        {% if request.user.is_authenticated  or request.user.is_superuser %}
            <a href="{% url 'author-create'%}">
                <button id='CreateButton' type="submit">{{ button_title }}</button>
            </a>
        {% else %}
            <h2 style="margin-left: 750px; color: white">You need to log in to {{ button_title }}</h2>
        {% endif %}
        {% if authors %}
        <div style="grid-template-columns: repeat(4, 1fr); " class="boxes-container">
            {% for author in authors %}
            <div class="box-container-author">
                <div class="image-container-author">
                    {% if author.image %}
                    <img  src="{{ author.image }}" alt="book-image">
                    {% else %}
                    <img src="{% static 'images/book-favicon.png'%}" alt="book-default-image">
                    {% endif %}
                </div>
                <div>
                    <a href="{% url 'books-by-author' pk=author.pk %}">
                        <button class="button-author" type="button">View Books</button>
                    </a>
                    <a href="{% url 'author-details' pk=author.pk %}">
                        <button class='button-author' type="button">Details</button>
                    </a>
                </div>
                <div class="text-container-author">
                    <h2>{{ author.full_name}}</h2>
                </div>


            </div>
            {% endfor %}
        </div>
        {% else %}
            <h1 style="margin: 195px 800px; font-size: 80px">Nothing Found</h1>
        {% endif %}

    </main>
{% endblock %}