{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style/details.css' %}">
{% endblock %}

{% block content %}
    <main>
        <div class="details-container">
            <div class="image-container-details">
                <img src="{{ publisher.image }}" alt="book-image">
            </div>
            <div class="text-container">
                <div class="text-container-details">
                    <h2 class="book-info"> Name: {{ publisher.name }}</h2>
                    {% if publisher.website %}
                        <h2 class="book-info"> Website: <a style="text-decoration: none; color: white;" href={{ publisher.website }}>{{ publisher.website }}</a></h2>
                    {% else %}
                        <h2 class="book-info"> Website: Unknown</h2>
                    {% endif %}
                    {% if publisher.email %}
                        <h2 class="book-info">  Email: <a style="text-decoration: none; color: white;" href={{ publisher.email }}>{{ publisher.email }}</a></h2>
                    {% else %}
                        <h2 class="book-info">  Email: Unknown</h2>
                    {% endif %}
                    {% if publisher.office %}
                        <h2 class="book-info"> Office: {{ publisher.office }}</h2>
                    {% else %}
                    <h2 class="book-info"> Office: Unknown</h2>
                    {% endif %}
                    {% if publisher.founded %}
                    <h2 class="book-info">  Founded on: {{ publisher.email}}</h2>
                    {% else %}
                    <h2 class="book-info">  Founded on: Unknown</h2>
                    {% endif %}
                    {% if publisher.ceo %}
                    <h2 class="book-info"> CEO: {{ publisher.ceo }}</h2>
                    {% else %}
                    <h2 class="book-info"> CEO: Unknown</h2>
                    {% endif %}
                    {% if publisher.closed %}
                    <h2 class="book-info"> Closed on: {{ publisher.closed }}</h2>
                    {% else %}
                    <h2 class="book-info"> Closed on: Not closed yet</h2>
                    {% endif %}
                </div>
                <div class="book-description">
                    <h2>Description</h2>
                    <p>{{ publisher.description }}</p>
                </div>
            </div>
            <div class="buttons-container-details" >
                <a href="{% url 'books-by-publisher' pk=publisher.pk %}" style="grid-column: span 2; margin-left: 90px">
                    <button type="button">View Books</button>
                </a>
                {% if request.user.username == publisher.created_by or request.user.is_superuser or request.user|in_group:"Publishers Management" or request.user|in_group:"Global Management" %}
                    <a href="{% url 'publisher-edit' pk=publisher.pk %}">
                        <button type="submit">Edit</button>
                    </a>
                    <a href="{% url 'publisher-delete' pk=publisher.pk %}">
                        <button type="submit">Delete</button>
                    </a>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}