{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style/box.css' %}">
    <link rel="stylesheet" href="{% static 'style/searchbar-and-create-button.css' %}">
{% endblock %}

{% block content %}

    <main>
        <div class="Titletext">
            <h1>{{ author.full_name }}'s books</h1>
        </div>
        {% if books %}
        <div class="boxes-container">
            {% for book in books %}
            <div class="box-container">
                <div class="image-container">
                    {% if book.image %}
                    <img src="{{ book.image }}" alt="book-image">
                    {% else %}
                    <img src="{% static 'images/book-favicon.png'%}" alt="book-default-image">
                    {% endif %}
                </div>
                <div class="text-container">
                    <h2>{{ book.title }}</h2>
                    <h2>{{ book.author }}</h2>
                    <h2>{{ book.genre }}</h2>
                    <h2>Reviews: {{ book.reviews_counter }}</h2>
                </div>
                <a href="{% url 'book-details' pk=book.pk %}">
                    <button type="submit">Details</button>
                </a>
                <a href="{% url 'review-creation' pk=book.pk %}">
                    <button type="submit">Write Review</button>
                </a>

            </div>
            {% endfor %}
        </div>
        {% else %}
            <h1 style="margin: 246px 800px; font-size: 70px">Nothing Found</h1>
        {% endif %}
    </main>
{% endblock %}