{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style/forms.css' %}">
{% endblock %}

{% block content %}
    <div class="form-container">
        <h2 class="form-title">Review Edit Form </h2>
        <form action="{% url 'book-reviews-edit' pk=review.pk %}" method="post">
            {{ form.as_p}}
            {% csrf_token %}
            <button class='form-button' type="submit">Edit</button>
        </form>
    </div>
{% endblock %}