.boxes-container{
    margin-bottom: 100px;
    margin-top: 130px;
    margin-left: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(1fr, auto);
    grid-row-gap: 80px;
    grid-column-gap: 80px;

}

.box-container{
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 70% 30%;
    background-color: lightgray;
    border-radius: 30px;
    border: 2px solid black;
}
.image-container img{
    width: 80%;
    padding: 5px;

}

.image-container{
    margin: 20px;
    padding: 0;
    width: 100%;
    height: 100%;
}

.text-container h2 {
    text-align: center;
    font-size: 30px;
    overflow-wrap: break-word;
    margin: 20px;
    color: gray;

}


button{
    display: inline;
    width: 80%;
    height: 40%;
    padding: 12px 20px;
    border-radius: 30px;
    background-color: gray;
    color: #fff;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin-left: 10%;
    margin-top: 35px;
    transition: background-color 0.3s;
}

button:hover{
    background-color: black;
}

.box-container-author{
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    background-color: lightgray;
    border-radius: 30px;
    border: 2px solid black;
}

.image-container-author{
    padding: 0;
    width: 100%;
    height: 100%;
    border-right: solid 2px black;
}


.image-container-author img{
    width: 80%;
    padding: 20px;
    padding-top: 50px;
    border-radius: 70px;
}

.button-author{
    display: inline;
    width: 140px;
    height: 60px;
    padding: 12px 20px;
    border-radius: 30px;
    background-color: gray;
    color: #fff;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin-left: 15%;
    margin-top: 60px;
    transition: background-color 0.3s;
}

.text-container-author{
    grid-column: span 2;
    border-top: solid 2px black;
}

.text-container-author h2{
    text-align: center;
    font-size: 40px;
    overflow-wrap: break-word;
    margin: 20px;
    color: gray;
}