body {
  margin: 0;
  font-family: Arial, sans-serif;
}

nav {
    position: fixed;
    background-color: #333;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid white;

}

.nav-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#BooksFaceNav{
    margin-left: 150px;
    margin-top: 0;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#BooksFaceNav h3{
    display: inline;
}

#BooksFaceNav  a{
    font-size: 28px;
    padding-bottom: 0;
    color: white;
    text-decoration: none;
    text-align: center;
}

.nav-container #BooksFaceNav a:hover{
    font-weight: bold;
}

.nav-ul-container ul {
    list-style: none;
    margin: 0;
    padding: 30px;
    display: flex;
    float: right;
}

nav .nav-ul-container li{
    margin-right: 50px;
    margin-top: 14px;
    margin-bottom: 14px;

}

.nav-ul-container a {
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    transition: background-color 0.3s;
}

.nav-ul-container a:hover {
    background-color: #555;
}

.nav-auth-buttons{
    margin-right: 100px;
}

.nav-auth-buttons a {
  background-color: #4CAF50;
  border-radius: 30px;
}

.nav-auth-buttons a:hover{
    color: #4CAF50 !important;
    background: white !important;
}

#ProfileImage a:hover{
    cursor: pointer;
}

#ProfileImage a{
    background: none;
    padding: 0;
    margin: 0;
}

#ProfileImage {
    margin-top: 0;
    margin-left: 90px;
    margin-right: 30px;
    margin-bottom: 0;
}

/* Media query for responsiveness */
@media screen and (max-width: 600px) {
  nav .nav-ul-container ul {
    flex-direction: column;
    align-items: center;
  }

  nav .nav-ul-container li:nth-last-child(-n+2) {
    margin-top: 10px;
  }
}

#LogOutButton a {
    cursor: pointer;
    background: indianred;
    border-radius: 30px;
    transition: background-color 0.3s;
}
#LogOutButton a:hover{
    color: indianred;
    background-color: white;
}
#LogOutButton{
    margin-top: 14px;
}




