<footer>
    <div class="footer-container">
        <h1>&copy;BooksFace. All rights reserved. 2023</h1>
        <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=100083033604512" target="_blank">
                <i class="fab fa-facebook-square" style="color: darkgray"></i>
            </a>
            <a href="https://github.com/kristianche" target="_blank">
                <i class="fab fa-github" style="color: darkgray"></i>
            </a>
            <a href="#" target="_blank">
                <i class="fab fa-instagram" style="color: darkgray"></i>
            </a>
            <a href="https://www.linkedin.com/in/kristian-chelebiev-04223b285/" target="_blank">
                <i class="fab fa-linkedin" style="color: darkgray"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCjMsMm01b_uXzw-4OQiUqNg" target="_blank">
                <i class="fab fa-youtube" style="color: darkgray"></i>
            </a>
        </div>
    </div>
</footer>